# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  credentials:
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - checkout
      - run: 
          name : transfer creds
          command: |           
            cd terraform/credentials
            echo $gcp_credentials > qa-cog-task-da4e551d7692.json
            pwd
            ls -a
            cd ../..
            pwd
            ls

  plan-apply:
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - run:
          name: terraform init & plan
          command: |
            pwd
            ls -a
            cd terraform
            pwd ls -a
            terraform init
            terraform plan
      - persist_to_workspace:
          root: .
          paths:
            - .

  apply:
    docker:
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .
      - run:
          name: terraform
          command: |
            terraform apply -auto-approve
      - persist_to_workspace:
          root: .
          paths:
            - .

workflows:
  version: 2
  plan_approve_apply:
    jobs:
      - credentials
      - plan-apply:
          requires:
            - credentials
      - hold-apply:
          requires:
            - plan-apply
      - apply:
          requires:
            - hold-apply